<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dnd.project.party.search.dao.CharacterDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->
  <select id="selectCharacters" parameterType="com.dnd.project.party.search.vo.CharacterVO" resultType="com.dnd.project.party.search.vo.CharacterVO">
  	<!-- -->
  		SELECT * FROM dnd.character
  		WHERE 1=1
 		<if test="apiId != null and apiId != ''">
			AND api_id = #{apiId}
		</if>
  		ORDER BY user_alias;
  	
  </select>
  		
  <select id="getBuffList" parameterType="com.dnd.project.party.search.vo.SearchCheckVO" resultType="com.dnd.project.party.search.vo.CharacterVO">
  	<!-- -->
  		SELECT * FROM dnd.character
  		WHERE 1=1
  		AND type = 'B'
  		
		<if test="users != null">
 		AND user_alias IN
			<foreach collection="users" item="item" index="index" open="(" close=")" separator=",">
			 #{item.alias}
			</foreach>
		</if>
		
  		order by buff asc;
  	
  </select>
  
  <select id="getPowerDealerList" parameterType="com.dnd.project.party.search.vo.SearchCheckVO" resultType="com.dnd.project.party.search.vo.CharacterVO">
  	<!-- -->
  		SELECT * FROM dnd.character
  		WHERE 1=1
  		AND buff = 0
  		AND damage &gt; 1000
  		
		<if test="users != null">
 		AND user_alias IN
			<foreach collection="users" item="item" index="index" open="(" close=")" separator=",">
			 #{item.alias}
			</foreach>
		</if>

  		order by damage desc;
  </select>
  
  <select id="getSynageList" parameterType="com.dnd.project.party.search.vo.SearchCheckVO" resultType="com.dnd.project.party.search.vo.CharacterVO">
   	<!-- -->
  		SELECT * FROM dnd.character
  		WHERE 1=1
  		AND type = 'S'
  		AND damage &lt; 1000
  		
		<if test="users != null">
 		AND user_alias IN
			<foreach collection="users" item="item" index="index" open="(" close=")" separator=",">
			 #{item.alias}
			</foreach>
		</if>
		
  		order by damage desc;
  	
  </select>
  
  <select id="getDealarList" parameterType="com.dnd.project.party.search.vo.SearchCheckVO" resultType="com.dnd.project.party.search.vo.CharacterVO">
   	<!-- -->
  		SELECT * FROM dnd.character
  		WHERE 1=1
  		AND type = 'D'
  		AND damage &lt; 1000
  		
		<if test="users != null">
 		AND user_alias IN
			<foreach collection="users" item="item" index="index" open="(" close=")" separator=",">
			 #{item.alias}
			</foreach>
		</if>
		
  		order by damage desc;
  	
  </select>

<update id="saveCharacterApiId"  parameterType="com.dnd.project.party.search.vo.CharacterVO">
	UPDATE dnd.character SET API_ID = "${apiId}"
	where 1=1
	and name = "${name}"
	 
</update>

<update id="saveCharacterDetail"  parameterType="com.dnd.project.party.search.vo.CharacterVO">
	UPDATE dnd.character SET damage = #{damage},buff = #{buff} 
	where 1=1
	and id = #{id}
	 
</update>

<update id="updateCharacterHist"  parameterType="com.dnd.project.party.search.vo.CharacterVO">
	UPDATE dnd.character SET
		update_date = NOW() 
		<if test="oculusRemainCount != null and oculusRemainCount != ''">
		,oculusRemainCount = #{oculusRemainCount}
		</if>
		<if test="devildomRemainCount != null and devildomRemainCount != ''">
		,devildomRemainCount = #{devildomRemainCount}
		</if>
		<if test="findRemainCount != null and findRemainCount != ''"> 
		,findRemainCount = #{findRemainCount}
		</if>
		<if test="freyIsisRemainCount != null and freyIsisRemainCount != ''"> 
		,freyIsisRemainCount = #{freyIsisRemainCount}
		</if>
		<if test="sirocoRemainCount != null and sirocoRemainCount != ''"> 
		,sirocoRemainCount = #{sirocoRemainCount}
		</if>
		<if test="bannerRemainCount != null and bannerRemainCount != ''"> 
		,bannerRemainCount = #{bannerRemainCount}
		</if>
		<if test="bannerDate != null and bannerDate != ''"> 
		,bannerDate = #{bannerDate}
		</if> 
		<if test="oculusDate != null and oculusDate != ''">
		,oculusDate = #{oculusDate}
		</if>
		<if test="devildomDate != null and devildomDate != ''"> 
		,devildomDate = #{devildomDate}
		</if>
		<if test="findDate != null and findDate != ''"> 
		,findDate = #{findDate}
		</if>
		<if test="freyIsisDate != null and freyIsisDate != ''"> 
		,freyIsisDate = #{freyIsisDate}
		</if> 
	

	where 1=1
	and appId = #{appId}
	 
</update>

<insert id="insertCharacterDetailHist">
  insert into dnd.character_hist (characterId, damage_sendbag, instDate, buff, damage_siroco, buff_aria)
  values (#{id}, #{damageSendbag}, now(), #{buff}, #{damageSiroco}, #{buffAria})
  
</insert>



</mapper>