<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dnd.party.search.dao.UserDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->
  		
  <select id="selectUsers" parameterType="com.dnd.party.search.vo.UserVO" resultType="com.dnd.party.search.vo.UserVO">
  	<!-- -->
  		SELECT * FROM dnd.user;
  	
  </select>

</mapper>